@import "tailwindcss";

/* Custom fonts */
@font-face {
  font-family: "IntegralCF";
  src: url("./assets/fonts/IntegralCF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-integral: "IntegralCF";
  --font-satoshi: "Satoshi", sans-serif;
}
